.Nav {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(32, 60, 80, 0.2);
  margin-bottom: 15px;
}

.NavLink {
  color: #000;
}

.NavLink:last-child {
  margin-left: 20px;
}

.NavLink_active {
  color: plum;
}
